/* Import de la fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Estilos globales */
* {
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Estilos de la cabecera */
#imglogo {
    width: 209px;
    height: 100px;
    background: url(../img/logo.png);
    transition: .5s;
}

#imglogo:hover {
    background: url(../img/logo2.png);
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3, h4 {
    font-size: 28px;
}

p {
    font-size: 16px;
}

/* Utilidades de la página */
.iconos {
    padding: 10px;
}

.contenedor-seccion {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nosotros {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.contenedor-anuncio {
    justify-content: space-evenly;
}

.anuncio {
    padding: 30px 25px;
    width: max-content;
}

.anuncio img {
    transition: .5s;
}

.anuncio img:hover {
    transform: scale(1.05);
}

.block {
    display: block!important;
}

/* Botones */
.boton {
    font-weight: 300;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    margin-top: 30px;
    display: inline-block;
    border: none;
    text-align: center;
}

.btn-naranja, .btn-verde {
    margin: 25px;
    font-size: 20px;
    transition: .5s;
    border-radius: 15px;
    border: transparent;
    padding: 10px;
}

.btn-naranja {
    padding: 15px;
    background-color: chocolate;
    transition: .5s;
}
.btn-naranja:hover {
    padding: 15px;
    transform: scale(0.8);
    background: #71b100;
}
.btn-verde {
    padding: 15px;
    background-color: #71b100;
    padding: 15px;
}
.btn-verde :hover{
    padding: 15px;
    transform: scale(0.8);
    background: #0000;
}

#precio {
    color: #71b100;
}

/* Encabezado */
.site-header.inicio {
    background-image: url("../img/bg-header.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
}

.site-header {
    background-color: #726b6b;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 20px;
    max-width: 600px;
    line-height: 90px;
}

.barra {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.navegacion a {
    font-family: 'Times New Roman', Times, serif;
    color: #9b9b9b;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
}

.navegacion a:last-child {
    margin: 0;
}

.navegacion a:hover {
    color: #ebc3d9;
}

main {
    width: 100%;
    position: relative;
}

/* Estilos Anuncios */
#anuncios {
    width: 100%;
    background: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#anuncios h2 {
    font-size: 50px;
    margin-bottom: 25px;
}

#anuncios h3 {
    font-size: 25px;
}

#anuncios p {
    font-size: 22px;
}

#anuncios .fila {
    padding: 80px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

#anuncios .anuncio {
    width: max-content;
    position: relative;
    border: 1px solid #000;
    border-radius: 8px;
}

#anuncios .anuncio .contenedor-imagen img {
    width: max-content;
}

#anuncios .anuncio img {
    transition: .5s;
}

#anuncios .anuncio img:hover {
    transform: scale(1.05);
}

/** Página Interna Nosotros **/
.contenido-nosotros {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}
.contenedor-seccion{
    background: #d2dffa;
}
.iconos{
    background: #d4d4d4;
    margin: 10px;
    padding: 20px;
    border: 1px solid #000;
}
.texto-nosotros blockquote {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    padding: 10px 0 30px 0;
}

.texto-nosotros p {
    text-align: justify;
}

/** Sección de contacto de la página principal **/
.imagen-contacto {
    background-image: url(../img/imgsu.jpg);
    background-position: center center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
}

.contenido-contacto {
    flex: 1;
    color: white;
}

.contenido-contacto p {
    font-size: 18px;
}

/** Sección Inferior de la página principal **/
.inferior {
    display: flex;
    justify-content: space-between;
}

.inferior .blog {
    flex-basis: 60%;
}

.inferior .comentarios {
    flex-basis: calc(40% - 20px);
}

.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}

.entrada-blog .imagen-blog {
    flex-basis: 40%;
}

.entrada-blog .texto-blog {
    flex-basis: calc(60% - 20px);
}

.texto-blog a {
    color: #000;
    text-decoration: none;
}

.texto-blog h4 {
    margin: 0;
    line-height: 1.4;
}

.texto-blog h4::after {
    content: ' ';
    display: block;
    width: 350px;
    height: 8px;
    background-color: #71b100;
    margin-top: 10px;
}

/** Sección Comentarios **/
.imagen-blog{
    transition: .5s;
}
.imagen-blog :hover{
    transform: scale(1.05)}
#blog {
    padding-bottom: 50px;
}

.titulo-blog {
    text-align: center;
    padding-bottom: 50px;
}

.comentarios {
    background-color: #71b100;
    font-size: 24px;
    padding: 20px;
    color: white;
    border-radius: 30px;
    margin: 25px 0;
}

.centrar-texto {
    padding-bottom: 40px;
}

.formulario input {
    width: 90%;
    padding: 10px;
    margin: 10px 30px;
    border: transparent;
    border-radius: 20px;
}

.comentarios p {
    text-align: right;
}

.fincomentario, .comentarios {
    text-align: center;
}

/* Calificación */
.calificacion {
    padding-left: 150px;
    display: flex;
}

.calificacion input[type="checkbox"] {
    display: none;
}

.calificacion label {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}
/* seccion oficinas */
#oficinas {
    width: 100%;
    background: #d2dffa;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#oficinas h2 {
    font-size: 50px;
    margin-bottom: 25px;
}

#oficinas h3 {
    font-size: 25px;
}

#oficinas p {
    font-size: 22px;
}

#oficinas .fila {
    padding: 10px 80px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

#oficinas .anuncio {
    width: max-content;
    position: relative;
    border: 1px solid #000;
    border-radius: 8px;
}

#oficinas .anuncio .contenedor-imagen img {
    width: max-content;
}

#oficinas .anuncio img {
    transition: .5s;
}

#oficinas .anuncio img:hover {
    transform: scale(1.05);
}
/** Sección Footer **/
footer h3 {
    padding-top: 25px;
}

footer p {
    padding-bottom: 25px;
}

footer h3, footer p {
    font-size: 20px;
    background: #000;
    color: #fff;
    text-align: center;
}

  